<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>音ハメ (仮) | OY旅団</title>

    <link href="./assets/css/app.css" rel="stylesheet" />
  </head>
  <body class="t-default p-top">
    <section class="t-default__section t-default__section--cover">
      <%- include('/src/components/organisms/mainvisual/_mainvisual') %>
    </section>

    <section class="t-default__section t-default__section--full-width p-top-intro">
      <div class="p-top-intro__text-wrapper">
        <p class="p-top-intro__text">
          ここに紹介文が入ります。ここに紹介文が入ります。ここに紹介文が入ります。ここに紹介文が入ります。ここに紹介文が入ります。ここに紹介文が入ります。
          ここに紹介文が入ります。ここに紹介文が入ります。ここに紹介文が入ります。ここに紹介文が入ります。ここに紹介文が入ります。ここに紹介文が入ります。
          ここに紹介文が入ります。ここに紹介文が入ります。ここに紹介文が入ります。ここに紹介文が入ります。ここに紹介文が入ります。ここに紹介文が入ります。
          ここに紹介文が入ります。ここに紹介文が入ります。ここに紹介文が入ります。ここに紹介文が入ります。ここに紹介文が入ります。ここに紹介文が入ります。
        </p>
      </div>
    </section>

    <section class="t-default__section">
      <h2 class="a-heading">遊び方</h2>
    </section>

    <section class="t-default__section">
      <h2 class="a-heading">頒布概要</h2>
    </section>

    <section class="t-default__section t-default__section--wrapped">
      <h3 class="a-heading">クレジット</h2>
        <div class="p-top-credit">
          <div class="p-top-credit__logo-wrapper">
            <img class="p-top-credit__logo" alt="OY Brigade" src="./assets/img/oy_brigade_logo.png" />
          </div>
          <ul class="p-top-credit__team">
            <li class="p-top-credit__team-member">
              <img class="p-top-credit__team-member-icon" alt="" src="" />
              <div class="p-top-credit__team-member-role">Illust</div>
              <div class="p-top-credit__team-member-name"></div>
            </li>
          </ul>
        </div>
    </section>

    <%- include('/src/components/organisms/footer/_footer') %>
  </body>
</html>
